<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore">
          <patch:attribute name="addAspxExtension" value="false" />
          <patch:attribute name="languageEmbedding" value="never" />
          <patch:attribute name="lowercaseUrls" value="true" />
        </add>
      </providers>
    </linkManager>

    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>

    <settings>
      <setting name="InvalidItemNameChars">
        <patch:attribute name="value" value="\/:?&quot;&lt;&gt;|[]-" />
      </setting>

      <setting name="HtmlEditor.DefaultProfile">
        <patch:attribute name="value" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full" />
      </setting>

      <!--
      ENABLE COUNTERS
                  Indicates if performance counters are enabled.
                  Default value: true
      -->
      <!-- http://www.sitecore.net/learn/blogs/technical-blogs/john-west-sitecore-blog/posts/2015/02/maximize-sitecore-developer-productivity.aspx -->
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <!--
      MEDIA - DISABLE FILE MEDIA
              Enables or disables storage of media as files rather than database records.
              If true, user interfaces do not present options to store media as files. 
              All files will be stored in the database, disregarding the value of the Media.UploadAsFiles setting.   
            
              Default value: false
      -->
      <setting name="Media.DisableFileMedia">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!--
      WEBDAV FEATURE ENABLED
                Determines if WebDAV feature should be enabled at all.
                Specify 'true' to enable WebDAV and 'false' to disable the feature.
                Default value: true
      -->
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <!-- TODO: set this setting once there is a CSS file dedicated to the rich-text field
      <setting name="WebStylesheet">
        <patch:attribute name="value" value="/includes/less/sitecore/richtexteditor.css" />
      </setting>
      -->
    </settings>

    <sites>
      <site name="scwebapi" patch:before="site[@name='website']"
            hostName="scwebapi.local"
            targetHostName="scwebapi.local"
            inherits="website"
            rootPath="/sitecore/content/scwebapi" />
    </sites>
  </sitecore>
</configuration>